# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python-related files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Data files
*.csv
*.json
*.pkl

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Checkpoint files
*_checkpoint_*.pkl
best_model_*.pkl

# Output files
trades.csv

# Temporary files
*.tmp
*.bak
*.swp
*~
